$font-primary: 'Roboto', sans-serif;
$color-primary: #002A8F;
$color-white: #FFFFFF;

$color-p1: #002A8F; $color-p2: #36508D;$color-p3: #4A5CA3;$color-p4: #7C8CC9;
$color-s1: #CB1515; $color-s2: #CC1A0F;$color-s3: #E9361E;$color-s4: #EA8363;
$color-gs1: #333333; $color-gs2: #7F7F7F; $color-gs3: #7A89A1; $color-gs4:#D9D9D9; $color-gs5: #FFFFFF; 
$color-t1: #F5E6C7; $color-t2: #B3CC8E; $color-t3:#69949C; $color-t4: #5B828E;


body, html {
  background-color: #FFFFFF; /* Blanco */
  height: calc(100vh - 17px);
  margin: 0;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}


.content-container {
  height: calc(100vh - 100px); /* Ajusta el tamaño del contenedor */
  overflow-y: auto;
  margin: 10px 4px 30px 4px;
}

.icon-main {
  height: 100px;
}

.list-items-flat {
  list-style-type: none; 
}
.list-items-flat li {
  margin: 0 !important;
}

.list-menu {
  list-style-type: none;
  margin: auto;
  /* border: 3px solid #D9D9D9;  */
  // padding: 10px;
  padding-left: 0;
  min-width: 200px;
  max-width: 800px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: calc(100hh - 60px);

  .list-menu-item a {
    color: #002A8F;
    text-decoration: none;
    text-align: center;
    min-width: 100px;
    max-width: 100px;
    margin: 10px 10px;
    border-radius: 20px;
    border: #7C8CC9 3px solid;
    position: relative;
    display: block;
    padding: 6px 0px;
    color: #002A8F;
  }
}
 
.fbtnb {
  list-style-type: none;
  margin: auto;
  /* border: 3px solid #D9D9D9;  */
  // padding: 10px;
  padding-left: 0;
  min-width: 200px;
  max-width: 800px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: calc(100hh - 60px);
    li { 
      // text-align: left;
      background-color: $color-p1;
      margin: 2px;
      padding: 4px 6px;
      border-radius: 5px;
      // min-width: 150px;
    }

    i { font-size: 30px; 
      position: relative;
      top: 5px;
      margin-right: 5px;
    }

    .fbtnitem a {
      font-size: 18px;
      font-weight: bold;
      color: $color-white !important;
      position: relative;
      top: -3px;
      text-decoration: none;
      // text-align: center;
      // min-width: 100px;
      // margin: 10px 10px;
      // 
      // padding: 10px 5px;
      // position: relative;
      // display: block;
      // padding: 6px 0px;
      // color: #002A8F;
    }
}



  .list-menu-item a:hover {
      color: white !important;
      background-color: #7C8CC9;
  }

.list-menu-item i {
  color: inherit;
  display: block;
  font-size: 50px !important;
}

/* FOOTER ----------------  */
footer {
  background-color: #002A8F;
  color: white;
  text-align: center;
  padding: 0;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 48px;
  display: inline;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 8px 0;
}

.iconfa {
  font-size: 30px;
  margin-right: 5px;
  position: relative;
  top: 4px;
  left: -4px;
}

.scico {
  margin: 0;
}

  .scico a i {
      padding: 5px 11px;
  }

  .scico a {
      background-color: #4A5CA3;
      color: white;
      border-radius: 20px;
      margin: 0;
      padding: 8px 1px;
      font-size: 1.2rem;
  }

      .scico a:hover {
          background-color: #7F7F7F;
      }

.footer-links a {
  font-weight: bold;
  color: white;
  margin-left: 4px;
  padding: 8px 0px;
  text-decoration: none;
}

  .footer-links a:hover {
      background-color: hsl(0, 0%, 50%);
  }

/* Booastrap override */

.card {
  min-width: 320px;
  max-width: 340px;
}

.accordion-button {
  transition: none;
  background-color: #002A8F;
  color: $color-white;
}
.bg-primary {
  background-color: #002A8F !important;
  color: $color-white;
}

.bg-secondary {
  background-color: $color-t4 !important;
  color: $color-white !important;
}

.bg-danger {
  background-color: $color-s1 !important;
  color: $color-white;
}

.bg-info {
  background-color: $color-p2 !important;
  color: $color-white;
}

.text-primary {
  color: #002A8F !important
}

.text-secondary {
  color: #CB1515 !important
}

.text-info {
  color: #333333 !important
}

.text-primary {
  color: $color-p1 !important
}

a { color: $color-p1; text-decoration: none;}

h1 {
  color: #002A8F !important;
  padding-left: 10px;
}

h2 {
  color: #333333 !important;
}

h3 { color: #CB1515 !important;
}

h4 { color: $color-gs2 !important; font-size: 22px;
}

.d-block { display: inline !important;}
.btn-primary {
    color: white;
    background-color: #002A8F !important;
}
.fs-1 {  font-size: 60px !important;}
.fs-2 {  font-size: 50px !important;}

.navbar {  border-bottom: #002A8F 2px solid; padding: 0; }
.navbar-nav .nav-link {  padding-left: 11px;}

.nav-item a {
    padding-left: 10px;
    :hover {
      color: #002A8F !important;
      background-color: #B3CC8E;
      border-radius: 10px;
    }
}


.form-label.required:after {
  content: "*";
  color: red;
}

// .form-group .required.form-label:after {
//   content: "*";
//   color: red;
// }
//  .nav-item a:hover {
//   }

/* PALETE ----------------  */

.palete-colors {
  color: #002A8F;color: #36508D;color: #4A5CA3;color: #7C8CC9;
  color: #CB1515;    color: #CC1A0F;    color: #E9361E;    color: #EA8363;
  color: #FFFFFF;    color: #D9D9D9;    color: #7F7F7F;    color: #333333;
  color: #F5E6C7;
  color: #B3CC8E;
  color: #7A89A1;    color: #69949C;    color: #5B828E
}
